{% extends 'components/base.html' %}
{% block title %}{% if form.instance.pk %}{{title}}{% else %}{{title}}{% endif %}{% endblock %}
{% block content %}
<div class="container mx-auto py-8 px-16">
    <h1 class="text-3xl font-bold mb-6">{% if form.instance.pk %}{{title}}{% else %}{{title}}{% endif %}</h1> 
    <form method="post" class="space-y-6">
        {% csrf_token %} 
        <!-- Nombre del Vendedor -->
        <div class="mb-4">
            <label for="{{ form.name.id_for_label }}" class="block text-lg font-medium">Nombre del Vendedor</label> 
            <input type="text" name="name" id="{{ form.name.id_for_label }}" value="{{ form.instance.name|default:'' }}" placeholder="Ingresa el nombre del vendedor" class="mt-1 block w-full px-4 py-2 border rounded-lg focus:ring-green-500 focus:border-green-500" required>
            {% if form.name.errors %}
                <div class="text-red-500 text-sm mt-2">
                    {% for error in form.name.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div> 
        <!-- Apellido del Vendedor-->
        <div class="mb-4">
            <label for="{{ form.last_name.id_for_label }}" class="block text-lg font-medium">Apellido del Vendedor</label> 
            <input type="text" name="last_name" id="{{ form.last_name.id_for_label }}" value="{{ form.instance.last_name|default:'' }}" placeholder="Ingresa el apellido del vendedor" class="mt-1 block w-full px-4 py-2 border rounded-lg focus:ring-green-500 focus:border-green-500" required>
            {% if form.last_name.errors %}
                <div class="text-red-500 text-sm mt-2">
                    {% for error in form.last_name.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div> 
        <!-- Cédula del Vendedor -->
        <div class="mb-4">
            <label for="{{ form.dni.id_for_label }}" class="block text-lg font-medium">Cédula del Vendedor</label> 
            <input type="text" name="dni" id="{{ form.dni.id_for_label }}" value="{{ form.instance.dni|default:'' }}" placeholder="Ingresa la cédula del vendedor" class="mt-1 block w-full px-4 py-2 border rounded-lg focus:ring-green-500 focus:border-green-500" pattern="[0-9]{10}" required>
            {% if form.dni.errors %}
                <div class="text-red-500 text-sm mt-2">
                    {% for error in form.dni.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <!-- Email del Vendedor -->
        <div class="mb-4">
            <label for="{{ form.email.id_for_label }}" class="block text-lg font-medium">Email del Vendedor</label> 
            <input type="email" name="email" id="{{ form.email.id_for_label }}" value="{{ form.instance.email|default:'' }}" placeholder="Ingresa el email del vendedor" class="mt-1 block w-full px-4 py-2 border rounded-lg focus:ring-green-500 focus:border-green-500" required>
            {% if form.email.errors %}
                <div class="text-red-500 text-sm mt-2">
                    {% for error in form.email.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <!-- Dirección del Vendedor -->
        <div class="mb-4">
            <label for="{{ form.address.id_for_label }}" class="block text-lg font-medium">Dirección del Vendedor</label> 
            <input type="text" name="address" id="{{ form.address.id_for_label }}" value="{{ form.instance.address|default:'' }}" placeholder="Ingresa la dirección del vendedor" class="mt-1 block w-full px-4 py-2 border rounded-lg focus:ring-green-500 focus:border-green-500">
            {% if form.address.errors %}
                <div class="text-red-500 text-sm mt-2">
                    {% for error in form.address.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <!-- Teléfono del Vendedor -->
        <div class="mb-4">
            <label for="{{ form.phone.id_for_label }}" class="block text-lg font-medium">Teléfono del Vendedor</label> 
            <input type="text" name="phone" id="{{ form.phone.id_for_label }}" value="{{ form.instance.phone|default:'' }}" placeholder="Ingresa el teléfono del vendedor" class="mt-1 block w-full px-4 py-2 border rounded-lg focus:ring-green-500 focus:border-green-500" pattern="[0-9]{10}" required>
            {% if form.phone.errors %}
                <div class="text-red-500 text-sm mt-2">
                    {% for error in form.phone.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <!-- Fecha de Nacimiento del Vendedor -->
        <div class="mb-4">
            <label for="{{ form.birth_date.id_for_label }}" class="block text-lg font-medium">Fecha de Nacimiento del Vendedor</label> 
            <input type="date" name="birth_date" id="{{ form.birth_date.id_for_label }}" value="{{ form.instance.birth_date|default:'' }}" placeholder="Ingresa la fecha de nacimiento del vendedor" class="mt-1 block w-full px-4 py-2 border rounded-lg focus:ring-green-500 focus:border-green-500">
            {% if form.birth_date.errors %}
                <div class="text-red-500 text-sm mt-2">
                    {% for error in form.birth_date.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <!-- Genero  1 = Masculino, 2 = Femenino -->
        <div class="mb-4">
            <label for="{{ form.gender.id_for_label }}" class="block text-lg font-medium">Genero</label> 
            <select name="gender" id="{{ form.gender.id_for_label }}" class="mt-1 block w-full px-4 py-2 border rounded-lg focus:ring-green-500 focus:border-green-500">
                <option value="">Seleccionar Genero</option>
                <option value="1" {% if form.instance.gender == 1 %}selected{% endif %}>Masculino</option>
                <option value="2" {% if form.instance.gender == 2 %}selected{% endif %}>Femenino</option>
            </select>
            {% if form.gender.errors %}
                <div class="text-red-500 text-sm mt-2">
                    {% for error in form.gender.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- Botones de Acción -->
        <div class="flex justify-between">
            <button type="submit" class="bg-green-600 text-white px-6 py-2 rounded-lg hover:bg-green-700 transition-all">Guardar</button>
            <a href={{back_url}} class="bg-gray-300 text-black px-6 py-2 rounded-lg hover:bg-gray-400 transition-all">
                Cancelar
            </a>
        </div> 
    </form> 
</div> 
{% endblock %}

