# Configuración de base de datos (PostgreSQL en Neon)
DB_ENGINE=django.db.backends.postgresql
DB_DATABASE=<db name>
DB_USERNAME=<username postgres>
DB_PASSWORD=<db password>
DB_SOCKET=<host de la bd o localhost>
DB_PORT=5432

# Configuración de Gmail
EMAIL_HOST_PASSWORD=<application password>
EMAIL_HOST_USER=<email user>
DEFAULT_FROM_EMAIL=<email default>

# Configuración de Google Gemini
GEMINI_API_KEY=<gemini api key> 

# Configuración de allowed hosts 
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,* 
DEBUG=True 
SECRET_KEY=<django secret key>

# Configuración de Supabase S3 Storage
SUPABASE_S3_BUCKET=<supabase s3 bucket name>
SUPABASE_S3_KEY_ID=<supabase s3 access key>
SUPABASE_S3_SECRET=<supabase s3 secret key>
SUPABASE_S3_URL=<supabase s3 url>