{% extends 'components/base.html' %}
{% load static %}
{% block title %}{% if producto.pk %}{{ title }}{% else %}{{ title }}{% endif %}{% endblock %}
{% block content %}
<div class="container mx-auto py-8 px-16">
    <h1 class="text-3xl font-bold mb-6">{% if product.pk %}{{ grabar }}{% else %}{{ grabar }}{% endif %}</h1>
    <form method="post" enctype="multipart/form-data" class="space-y-6">
        {% csrf_token %}

        <!-- Nombre del Producto -->
        <div class="mb-6">
            <label for="id_name" class="block text-gray-700 font-semibold mb-2">Nombre del Producto</label> 
            <input type="text" name="name" id="id_name" value="{{ form.instance.name|default:'' }}" 
            class="mt-1 block w-full px-4 py-2 border rounded-lg focus:ring-green-500 focus:border-green-500" 
            placeholder="Ingrese el nombre del producto">
            {% if form.name.errors %} 
               <div class="text-red-500 text-sm mt-2">
                    {% for error in form.name.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
               </div> 
            {% endif %}
        </div> 

        <!-- Categoría -->
        <div class="mb-6">
            <label for="id_category" class="block text-lg font-medium">Categoría</label> 
            <select name="category" id="id_category" class="mt-1 block w-full px-4 py-2 border rounded-lg focus:ring-green-500 focus:border-green-500">
                <option value="">Seleccionar Categoría</option>
                {% for category in form.category.field.queryset %}
                    <option value="{{ category.pk }}" {% if form.instance.category == category %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
            {% if form.category.errors %}
                <div class="text-red-500 text-sm mt-2">
                    {% for error in form.category.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div> 

        <!-- Marca -->
        <div class="mb-6">
            <label for="id_brand" class="block text-lg font-medium">Marca</label> 
            <select name="brand" id="id_brand" class="mt-1 block w-full px-4 py-2 border rounded-lg focus:ring-green-500 focus:border-green-500">
                <option value="">Seleccionar Marca</option>
                {% for brand in form.brand.field.queryset %}
                    <option value="{{ brand.pk }}" {% if form.instance.brand == brand %}selected{% endif %}>{{ brand.name }}</option>
                {% endfor %}
            </select>
            {% if form.brand.errors %}
                <div class="text-red-500 text-sm mt-2">
                    {% for error in form.brand.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- Descripción -->
        <div class="mb-6">
            <label for="id_description" class="block text-lg font-medium">Descripción</label>
            <textarea name="description" id="id_description" rows="5" class="mt-1 block w-full px-4 py-2 border rounded-lg focus:ring-green-500 focus:border-green-500">{{ form.instance.descripcion|default:'' }}</textarea>
            {% if form.description.errors %}
                <div class="text-red-500 text-sm mt-2">
                    {% for error in form.description.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- Precio -->
        <div class="mb-6">
            <label for="id_price" class="block text-lg font-medium">Precio</label>
            <input type="number" name="price" id="id_price" value="{{ form.instance.price|default:'' }}" 
            class="mt-1 block w-full px-4 py-2 border rounded-lg focus:ring-green-500 focus:border-green-500" 
            placeholder="Ingrese el precio del producto" step="0.01" required>
            {% if form.price.errors %}
                <div class="text-red-500 text-sm mt-2">
                    {% for error in form.price.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- Stock -->
        <div class="mb-6"> 
            <label for="id_stock" class="block text-lg font-medium">Stock</label>
            <input type="number" name="stock" id="id_stock" value="{{ form.instance.stock|default:'' }}" min="0" 
            class="mt-1 block w-full px-4 py-2 border rounded-lg focus:ring-green-500 focus:border-green-500" placeholder="Ingrese el stock del producto" step="1" required>
            {% if form.stock.errors %}
                <div class="text-red-500 text-sm mt-2">
                    {% for error in form.stock.errors %} 
                        <p>{{ error }}</p>
                    {% endfor %}
                </div> 
            {% endif %} 
        </div>

        <!-- Imagen del Producto -->
        <div class="mb-6">
            <label for="id_image" class="block text-lg font-medium">Imagen del Producto</label>
            {% if form.instance.image %}
                <div class="mb-4">
                    <img src="{{ form.instance.image.url }}" alt="Imagen del Producto" class="w-32 h-32 object-cover rounded-lg">
                </div>
            {% endif %}
            <input type="file" name="image" id="id_image" class="mt-1 block w-full px-4 py-2 border rounded-lg">
            {% if form.image.errors %}
                <div class="text-red-500 text-sm mt-2">
                    {% for error in form.image.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- Fecha de Elaboración -->
        <div class="mb-6">
            <label for="id_production_date" class="block text-lg font-medium">Fecha de Elaboración</label>
            <input type="date" name="production_date" id="id_production_date" value="{{ form.instance.production_date|default:'' }}" 
            class="mt-1 block w-full px-4 py-2 border rounded-lg focus:ring-green-500 focus:border-green-500" placeholder="Ingrese la fecha de elaboración del producto" required>
            {% if form.production_date.errors %}
                <div class="text-red-500 text-sm mt-2">
                    {% for error in form.production_date.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- Fecha de Vencimiento -->
        <div class="mb-6">
            <label for="id_expiration_date" class="block text-lg font-medium">Fecha de Vencimiento</label>
            <input type="date" name="expiration_date" id="id_expiration_date" value="{{ form.instance.expiration_date|default:'' }}" 
            class="mt-1 block w-full px-4 py-2 border rounded-lg focus:ring-green-500 focus:border-green-500" placeholder="Ingrese la fecha de vencimiento del producto" readonly>
            {% if form.expiration_date.errors %}
                <div class="text-red-500 text-sm mt-2">
                    {% for error in form.expiration_date.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %} 
        </div>

        <!-- Estado -->
        <div class="mb-6">
            <label for="id_state" class="block text-lg font-medium">Estado del Producto</label>
            <input type="text" name="state" id="id_state" value="{{ form.instance.state|yesno:'Agotado,Disponible' }}" readonly>
        </div> 

        <!-- Código de Barras -->
        <div class="mb-6">
            <label for="id_barcode" class="block text-lg font-medium">Código de Barras</label>
            <input type="text" name="barcode" id="id_barcode" value="{{ form.instance.barcode|default:'' }}" 
            class="mt-1 block w-full px-4 py-2 border rounded-lg focus:ring-green-500 focus:border-green-500" placeholder="Ingrese el código de barras del producto">
            {% if form.barcode.errors %}
                <div class="text-red-500 text-sm mt-2">
                    {% for error in form.barcode.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- Botón de Acción -->
        <div class="flex justify-between items-center">
            <button type="submit" class="bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-red-700 transition-all">Guardar Producto</button>
            <a href={{back_url}} class="bg-gray-500 text-white px-6 py-2 rounded-lg hover:bg-gray-600 transition-all">Cancelar</a>
        </div>
    </form> 
</div>
<script src="{% static 'js/expiration_date.js' %}"></script>
<script src="{% static 'js/state_stock.js' %}"></script>
<script src="{% static 'js/barcode_validation.js' %}"></script>
{% endblock %}










