{% extends 'components/base.html' %}
{% block title %}Sobre Nosotros{% endblock %}
{% block content %}
<div class="container mx-auto py-8 px-16">
    <h1 class="text-3xl font-bold mb-6">Sobre Nosotros</h1> 
    <div class="bg-white shadow-lg rounded-lg p-8 mb-6">
        <h2 class="text-2xl font-semibold text-blue-600 mb-4">Nuestra Misión</h2>
        <p class="text-lg text-gray-700">Nuestra misión es brindarte la mejor experiencia de compra en línea, con una amplia variedad de productos y servicios de alta calidad.</p>
    </div> 
    <div class="bg-white shadow-lg rounded-lg p-8 mb-6">
        <h2 class="text-2xl font-semibold text-blue-600 mb-4">Nuestra Visión</h2>
        <p class="text-lg text-gray-700">Nuestra visión es crear una economía de alta calidad y sostenibilidad en línea, con una amplia variedad de productos y servicios de alta calidad.</p>
    </div>
    <div class="bg-white shadow-lg rounded-lg p-8 mb-6">
        <h2 class="text-2xl font-semibold text-blue-600 mb-4">Nuestros Objetivos</h2>
        <ul class="list-disc pl-6 text-lg text-gray-700">
            <li>Ofrecer precios competitivos y de alta calidad</li>
            <li>Proporcionar una experiencia de compra única y personalizada</li>
            <li>Fomentar la sostenibilidad y la economía de alta calidad</li>
            <li>Promover la innovación y la diversidad en la industria</li>
        </ul> 
    </div>
</div> 
{% endblock %}





