{% extends 'components/base.html' %} 
{% load static %}
{% block title %} {{title}} {% endblock %} 
{% block content %}
<div class="container mx-auto py-8 px-16">
    <h1 class="text-3xl font-bold mb-6">Lista de {{ title }}</h1>
    <a href={{create_url}} class="bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-red-700 transition-all mb-8">Agregar Nueva Venta</a>
    <div class="overflow-x-auto bg-white shadow-md rounded-lg mt-6">
        <table class="min-w-full text-sm">
            <thead>
                <tr>
                    <th class="py-3 px-4 text-left">Fecha de Venta</th>
                    <th class="py-3 px-4 text-left">Cliente</th>
                    <th class="py-3 px-4 text-left">Vendedor</th>
                    <th class="py-3 px-4 text-left">Pago</th> 
                    <th class="py-3 px-4 text-left">Subtotal</th> 
                    <th class="py-3 px-4 text-left">IVA</th>
                    <th class="py-3 px-4 text-left">Descuento</th>
                    <th class="py-3 px-4 text-left">Total</th>
                    <th class="py-3 px-4 text-left">Acciones</th>
                </tr> 
            </thead> 
            <tbody>
                {% for s in sales %}
                   <tr>
                        <td class="py-3 px-4">{{s.sale_date}}</td>
                        <td class="py-3 px-4">{{s.customer.get_full_name}}</td>
                        <td class="py-3 px-4">{{s.seller.get_full_name}}</td>
                        <td class="py-3 px-4">{{s.payment.name}}</td>
                        <td class="py-3 px-4">${{s.subtotal|floatformat:2}}</td>
                        <td class="py-3 px-4">${{s.iva|floatformat:2}}</td>
                        <td class="py-3 px-4">{{s.discount|floatformat:2}}</td>
                        <td class="py-3 px-4">${{s.total|floatformat:2}}</td>
                        <td class="py-3 px-4">
                            <a href="{% url 'super:sale_update' s.pk %}" class="text-blue-500 hover:underline" label="Editar"><i class='bx bxs-edit'></i></a> 
                            <a href="{% url 'super:sale_delete' s.pk %}" class="text-red-500 hover:underline" label="Eliminar"><i class='bx bxs-eraser'></i></a>
                            <a href="{% url 'super:sale_pdf' s.pk %}" class="text-green-500 hover:underline" label="Factura"><i class='bx bxs-file-pdf'></i></a>
                        </td> 
                   </tr> 
                   {% empty %}
                   <tr>
                       <td colspan="7" class="py-3 px-4">No hay ventas registradas</td>
                   </tr>
                {% endfor %} 
            </tbody> 
        </table> 
    </div> 
</div> 
{% endblock %}

